body {
  background: #171823;
  background-image: url('image/themedark.png');
  background-repeat: no-repeat;
  background-size: 100% cover;
}
button.change-theme {
  background-image: url('image/sun.svg');
  color: #767992;
}
/*--------------listinfo__create*/
.listinfo__create {
  background: #25273d;
}
.create__checkbox + label::before {
  border: 1px solid #393a4b;
}
/*--------------create__input*/
input.create__input {
  background: #25273d;
}
input.create__input:optional {
  color: #767992;
}
input.create__input:focus {
  color: #c8cbe7;
}
.todo__checkbox + label::before {
  border: 1px solid #393a4b;
}
/*---------------------------------*/
/*---------------listinfo*/
.listinfo {
  background: #25273d;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}
@media all and (max-width: 650px) {
  .listinfo {
    background: transparent;
    box-shadow: none;
  }
  .listinfo__todo {
    background: #25273d;
  }
}

li.todo__task {
  border-bottom: solid 1px #393a4b;
  color: #c8cbe7;
}
li.checked {
  text-decoration-line: line-through;
  color: #4d5067;
}
/*------------listinfo__footer*/
.listinfo__footer {
  background: #25273d;
}
@media all and (max-width: 650px) {
  .listinfo__footer {
    background: transparent;
  }
}

@media all and (max-width: 650px) {
  .listinfo__footer {
  }
  .footer__calc {
    background: #25273d;
    border-bottom: solid 1px transparent;
    border-bottom-left-radius: 5px;
  }
  .footer__function {
    border-top: solid 1px transparent;
    background: #25273d;
    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  }
  .footer__clear {
    background: #25273d;
    border-bottom: solid 1px transparent;
    border-bottom-right-radius: 5px;
  }
}
.calc {
  color: #5b5e7e;
}
button {
  color: #5b5e7e;
}
/*--------------Footer*/
h3.footer__title {
  color: #5b5e7e;
}
