* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Josefin Sans', sans-serif;
}
.container {
  max-width: 540px;
  margin: 0 auto;
}
@media all and (max-width: 650px) {
  .container {
    width: 400px;
  }
}

@media all and (max-width: 450px) {
  .container {
    width: 327px;
  }
}
@media all and (max-width: 400px) {
  .container {
    width: 300px;
  }
}
/*--------------section__head*/
.section__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.section__change-theme {
  height: 26px;
}
.head__title {
  margin-top: 70px;
  margin-bottom: 48px;
}
h1.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  color: #ffffff;
}
@media all and (max-width: 650px) {
  h1.title {
    font-size: 20px;
    line-height: 20px;
  }
}
/*--------------button.change-theme*/
button.change-theme {
  height: 26px;
  width: 26px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
  cursor: pointer;
}
@media all and (max-width: 650px) {
  button.change-theme {
    position: absolute;
    top: 50%;
    right: 0;
    height: 20px;
    width: 20px;
  }
}
/*--------------------------------*/
/*--------------section__listinfo*/
.section__listinfo {
  width: 540px;
  border-radius: 5px;
}

@media all and (max-width: 650px) {
  .section__listinfo {
    width: 400px;
  }
}
@media all and (max-width: 450px) {
  .section__listinfo {
    width: 327px;
  }
}
@media all and (max-width: 400px) {
  .section__listinfo {
    width: 300px;
  }
}
/*--------------listinfo__create*/
.listinfo__create {
  margin-bottom: 24px;
  border-radius: 5px;
}

.create {
  height: 64px;
  display: flex;
  padding-left: 24px;
  position: relative;
  align-items: center;
}
@media all and (max-width: 650px) {
  .create__button {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.25px;
    margin-right: 10px;
  }
}

@media all and (max-width: 650px) {
  .create {
    height: 48px;
    padding-left: 20px;
  }
}
/*--------------create__input*/
input.create__input {
  width: 400px;
  height: 20px;
  margin: 23px 0;
  border: none;
  outline: none;
}
@media all and (max-width: 650px) {
  input.create__input {
    min-width: 200px;
  }
}
input.create__input:optional {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
}
@media all and (max-width: 650px) {
  input.create__input:optional {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
  }
}

input.create__input:focus {
  outline: none;
}
/*--------------------------*/
/*--------------create__checkbox*/
.create__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 20px;
}
.create__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.create__checkbox + label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  margin-right: 24px;
}
@media all and (max-width: 650px) {
  .create__checkbox + label::before {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
}

.create__checkbox:not(:disabled):not(:checked) + label:hover::before {
  border: 1px solid transparent;
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
}
.create__checkbox:checked + label::before {
  border-color: transparent;
  background-color: #c058f3;
  background-image: url('image/path.svg'),
    linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: 50%, cover;
}
/*--------------todo__checkbox*/
.todo__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 20px;
}
.todo__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.todo__checkbox + label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  margin-right: 24px;
}
@media all and (max-width: 650px) {
  .todo__checkbox + label::before {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
}
.todo__checkbox:not(:disabled):not(:checked) + label:hover::before {
  border: 1px solid transparent;
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
}
.todo__checkbox:checked + label::before {
  border-color: transparent;
  background-color: #c058f3;
  background-image: url('image/path.svg'),
    linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: 50%, cover;
}
/*-----------------------*/
/*---------------listinfo*/
.listinfo {
  display: block;
  border-radius: 5px;
}
@media all and (max-width: 650px) {
  .listinfo__todo {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

/*------------listinfo__todo*/
ul.todo__list {
  list-style-type: none;
}

li.todo__task {
  padding: 20px 24px 19px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
  cursor: pointer;
}
@media all and (max-width: 650px) {
  li.todo__task {
    padding: 19px 24px 21px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
  }
}
li.todo__task.delete {
  animation: opacity 1s ease-in-out;
}

.todo__icon {
  display: none;
  position: absolute;
  right: 24px;
  top: 23px;
}
.todo__task:hover > img.todo__icon {
  display: block;
}
@media all and (max-width: 650px) {
  img.todo__icon {
    height: 12px;
    width: 12px;
  }
  .todo__icon {
    display: block;
    right: 20px;
    top: 20px;
  }
  .todo__task:hover > img.todo__icon {
    display: none;
  }
}
/*------------listinfo__footer*/
.listinfo__footer {
  display: flex;
  padding: 16px 25px 20px;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media all and (max-width: 650px) {
  .listinfo__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: none;
    padding: 0;
  }
  .footer__calc {
    flex-basis: 50%;
    text-align: start;
    height: 50px;
    padding: 16px 22px 20px;
    border-bottom: solid 1px #e3e4f1;
  }
  .footer__function {
    order: 1;
    flex-basis: 100%;
    text-align: center;
    height: 50px;
    margin-top: 16px;
    padding: 15px 0 19px;
    border-top: solid 1px #e3e4f1;
  }
  .footer__clear {
    flex-basis: 50%;
    text-align: end;
    height: 50px;
    padding: 16px 22px 20px;
    border-bottom: solid 1px #e3e4f1;
  }
}

.calc {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
}

button {
  background: none;
  border: none;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  cursor: pointer;
}
button.active {
  color: #3a7cfd;
}

.function__active {
  margin: 0 19px;
}

button.clear:hover {
  color: #3a7cfd;
}

/*--------------Footer*/
footer {
  margin-top: 49px;
}
h3.footer__title {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.194444px;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
